<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List App</title>
</head>
<body>
    <h1>To Do List with Django</h1>
    <form action="{% url 'to_do_list:create' %}" method="POST">
        {% csrf_token %}
        <label for="content">Content: </label>
        <input type="text" name="content" id="content" placeholder="Enter a new To-Do...">
        <button type="submit">Submit!</button>
    </form>
    {% if items %}
    <ul>
        {% for item in items %}
        <li>
            {% if item.is_done %}
            <del>{{ item.content }}</del>
            {% else %}
            <p>{{ item.content }}<a href="{% url 'to_do_list:check' item.id %}">Check</a></p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No items yet.</p>
    {% endif %}
</body>
</html>